<app-welcome-item>
  <ng-container icon>
    <app-icon-documentation></app-icon-documentation>
  </ng-container>
  <ng-container heading> Documentation</ng-container>

  Angular's
  <a href="https://angular.io/" target="_blank" rel="noopener"> official documentation </a>
  provides you with all information you need to get started.
</app-welcome-item>

<app-welcome-item>
  <ng-container icon>
    <app-icon-tooling></app-icon-tooling>
  </ng-container>
  <ng-container heading>Tooling</ng-container>

  This project is served and bundled with
  <a href="https://webpack.js.org/" target="_blank" rel="noopener"> Webpack</a>. The recommended IDE setup is
  <a href="https://code.visualstudio.com/" target="_blank" rel="noopener">VSCode</a>
  +
  <a href="https://github.com/angular/vscode-ng-language-service" target="_blank" rel="noopener"
    >Angular Language Service</a
  >. If you need to test your components and web pages, check out
  <a href="https://www.cypress.io/" target="_blank" rel="noopener">Cypress</a>
  and
  <a href="https://on.cypress.io/component" target="_blank">Cypress Component Testing</a>.

  <br />

  More instructions are available in <code>README.md</code>.
</app-welcome-item>

<app-welcome-item>
  <ng-container icon>
    <app-icon-ecosystem></app-icon-ecosystem>
  </ng-container>
  <ng-container heading>Ecosystem</ng-container>

  Get official tools and libraries for your project:
  <a href="https://angular.io/guide/creating-injectable-service" target="_blank" rel="noopener"
    >Angular Services</a
  >, <a href="https://angular.io/guide/routing-overview" target="_blank" rel="noopener">Angular Router</a>,
  <a href="https://angular.io/guide/testing-utility-apis" target="_blank" rel="noopener"
    >Angular Testing Utility APIs</a
  >, and <a href="https://angular.io/guide/devtools" target="_blank" rel="noopener">Angular Dev Tools</a>. If
  you need more resources, we suggest paying
  <a href="https://github.com/PatrickJS/awesome-angular" target="_blank" rel="noopener">Awesome Angular</a>
  a visit.
</app-welcome-item>

<app-welcome-item>
  <ng-container icon>
    <app-icon-community></app-icon-community>
  </ng-container>
  <ng-container heading>Community</ng-container>

  Got stuck? Ask your question on
  <a href="https://discord.com/invite/angular" target="_blank" rel="noopener">Angular Community</a>, our
  official Discord server, or
  <a href="https://stackoverflow.com/questions/tagged/angular" target="_blank" rel="noopener">StackOverflow</a
  >. You should also follow
  <a href="https://blog.angular.io/" target="_blank" rel="noopener">our blog</a>
  and the official
  <a href="https://twitter.com/angular" target="_blank" rel="noopener">@angular</a>
  twitter account for latest news in the Angular world.
</app-welcome-item>

<app-welcome-item>
  <ng-container icon>
    <app-icon-support></app-icon-support>
  </ng-container>
  <ng-container heading>Give us feedback!</ng-container>

  As an open source project, Angular values community feedback and contribution. You can submit issues to
  <a href="https://github.com/angular/angular/issues" target="_blank" rel="noopener">our Github</a>.
</app-welcome-item>
